  body{
    margin: 0%;
     background: #e0e1e4;
    
  }
  
  
  .dis{
    display: flex;
    
  }

.one{
    margin-left: 70px;
    margin-top: 30PX;

}
.two{
    margin-left: 800px;
    margin-top: 20px;
    position: relative;
    top: 20px;
    right: 70px;   
}
.a1{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 900;

}
.a1:hover{
  background-color: white;
  width: 200px;
  height: 100px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  transition: 3s;
}

.a2{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 900;
    margin-left: 30px;
}

.a2:hover{
  background-color: white;
  width: 200px;
  height: 100px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  transition: 3s;
}
.a3{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 900;
    margin-left: 30px;
}
.a3:hover{
  background-color: white;
  width: 200px;
  height: 100px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  transition: 3s;
}
.icons{
  display: none;
}

.about{
  margin-left: 70px;

}
.about1{
  color: yellow;
  font-size: 20px;
}
.about2{
  font-size: 50px;
}
.about3{
  font-size: 20px;
  color: gray;
}

.btn1{
  background-color: yellow;
  color: black;
  width: 90px;
  height: 40px;
  border-radius: 10px;
  border: none;
}
.btn2{
  background-color:white;
  color: black;
  width: 90px;
  height: 40px;
  border-radius: 10px;
  margin-left: 10px;
}
.btn1:hover{
  background-color:black ;
  color: white;
  width: 90px;
  height: 40px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 2px yellow;
  transition: 3s;
}
.btn2:hover{
  background-color:black;
  color: white;
  width: 90px;
  height: 40px;
  border-radius: 10px;
  margin-left: 10px;
  box-shadow: 2px 2px 2px yellow;
  transition: 3s;
}

.navbarimg{
    margin-left: 625.0px;
    position: absolute;
    top: 3px;
    z-index: -1;
}
/* section222222 */
.Projects{
  margin-left: 600px;
  font-size: 40px;
  margin-top: 60px;
  border-bottom:6px solid yellow ;
  width: 140px;
}
.box1{
  display: flex;
  margin-left: 200px;
  margin-top: 100px;


}
.divbox1{
  background-color: white;
  width: 500px;
  height: 400px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  
}

.divbox1 h1{
  text-align: center;
  margin-top: 100px;

} 
.divbox1 p{
  text-align: center;
  
} 
.divbox1 button{
  background-color: white;
  color: black;
  width: 130px;
  height: 40px;
  border-radius: 20px;
  font-weight: 900;

  margin-left: 200px;
}
.divbox1 button:hover{
  background-color: black;
  color: white;
  transition: 3s;
}
.divbox2 img{
  width: 500px;
  height: 400px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  
}
.box2{
  margin-left: 200px;
  display: flex;
  margin-top: 50px;
}
.boxmain1 img{
  width: 500px;
  height: 400px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;

}
.boxmain2{
  background-color: white;
  width: 500px;
  height: 400px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px

}
.boxmain2 h1{
  text-align: center;
  margin-top: 100px;

}
.boxmain2 p{
  text-align: center;

}
.boxmain2 button{
  background-color: white;
  color: black;
  width: 130px;
  height: 40px;
  border-radius: 20px;
  font-weight: 900;
  margin-left: 200px;

}
.boxmain2 button:hover{
  background-color: black;
  color: white;
  transition: 3s;

}


.form1{
  margin-left: 600px;
  margin-top: 60px;
  
}
.form2 button{
  background-color: yellow;
  color: black;
  width: 130px;
  height: 40px;
  border-radius: 20px;
  font-weight: 900;
  margin-left: 200px;

}
.form2 button:hover{
  background-color: black;
  color: white;
  transition: 3s;

}
.logos{
  margin-top: 100px;
  margin-left: 600px;
}